h1{
	font-family: Gang of Three;
	color: White;
	font-size: 60px;
}
h3{
	font-family: Heart Warming;
	color: White;
	font-size: 30px;
}
p{
	font-family: Roboto;
	color: white;
	font-size: 16px;
}
ul{
	font-family: Roboto;
	color: white;
	font-size: 16px;
}
a{
	color: #CF2602;
}